:root {
  --font-primary: 'Trebuchet MS', Verdana, Tahoma;
  --color-primary: #333;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  margin: 0;
}

/* remove the blue outlines on form elements */
input, button, select {
  box-shadow: none !important;
  outline: none !important;
}

.header {
  text-align: center;
  margin: 3.5rem 0 2rem;
}

.main-section {
  max-width: 400px;
  margin: 0 auto;
}

.main-section > div {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 7.5px 0;
}

.todo > *{
  flex-grow: 0;
}

.todo .todo-info {
  flex-grow: 4;
  margin: 0 1rem;
}

.todo .todo-info > :first-child{
  margin-bottom: 5px;
}

.todo .todo-info > :last-child{
  font-size: 0.9rem;
  color: #777;
}

.btn {
  height: 30px;
  background-color: transparent;
  color: #555;
  border: 1px solid #bbb;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 600; 
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color:  rgba(150, 132, 0, 1);
  color: #fff;
}

.btn-primary:hover {
  border-color: rgba(150, 132, 0, 1);
  color: rgba(150, 132, 0, 1);
  background-color: #fff;
}

.todo #delete-task:hover {
  transform: scale(1.1);
  color: #f44336 !important;
  border: 1px solid #f44336 !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0 rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 1rem;
}
