:root {
  --font-primary: Tahoma, Verdana, 'Trebuchet MS';
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  margin: 0;
}

/* remove the blue outlines on form elements */
input, button, select {
  box-shadow: none !important;
  outline: none !important;
}
